.ReplyButton {
  position: relative;
  background: transparent;
  border: none;
  color: white;
  font-family: "Silkscreen", sans-serif;
  font-size: 1rem;
  text-align: left;
}

.ReplyButton:hover::before,
.ReplyButton:active::before,
.ReplyButton:focus::before {
  content: ">";
  position: absolute;
  left: -0.5rem;
}

.ReplyButton:hover,
.ReplyButton:active,
.ReplyButton:focus {
  text-decoration: underline;
  outline: none;
}