.ContinueReplyButton {
  position: relative;
  background: transparent;
  border: none;
  color: white;
  font-family: "Silkscreen", sans-serif;
  font-size: 1rem;
  text-align: left;
}

.ContinueReplyButton:hover::before,
.ContinueReplyButton:active::before,
.ContinueReplyButton:focus::before {
  content: ">";
  position: absolute;
  left: -0.5rem;
}

.ContinueReplyButton:hover,
.ContinueReplyButton:active,
.ContinueReplyButton:focus {
  text-decoration: underline;
  outline: none;
}